CoffeeShop_Business/Connected Services/CoffeeShopService/CoffeeShopService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoffeeShop_Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoffeeShop_Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCoffeeMenuModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoffeeMenuModel" nillable="true" type="tns:CoffeeMenuModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoffeeMenuModel" nillable="true" type="tns:ArrayOfCoffeeMenuModel" />
  <xs:complexType name="CoffeeMenuModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoffeeMenuModel" nillable="true" type="tns:CoffeeMenuModel" />
</xs:schema>